h1, h2, h3, h4, h5, h6, p {
    margin: 0;
    letter-spacing: 0.05rem;
}

li {
    list-style: none;
}

h3 {
    font-size: 3rem;
}

h4 {
    font-size: 2rem;
    font-family: $primaryFont;
}
a {
    color: $tertiary;
}