// site fonts
$primaryFont: 'Cardo',serif;
$secondaryFont: 'Open Sans',sans-serif;

// base font size
$baseFontSize: 1rem;

// site colors
$primary: #011E42;
$secondary: #868C96;
$tertiary: #FFF;
$quaternary: #A92B37;