@import url("https://fonts.googleapis.com/css2?family=Cardo&family=Open+Sans:wght@400;700&display=swap");
html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article,
aside,
footer,
header,
nav,
section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

figcaption,
figure,
main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b,
strong {
  font-weight: inherit;
}

b,
strong {
  font-weight: bolder;
}

code,
kbd,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

audio,
video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button,
input,
optgroup,
select,
textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button,
input {
  overflow: visible;
}

button,
select {
  text-transform: none;
}

button,
html [type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring,
[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox],
[type=radio] {
  box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button,
[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details,
menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: "";
  clear: both;
  height: 0;
}

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

* {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

.wrapper {
  max-width: 1260px;
  width: 80%;
  margin: 0 auto;
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
  letter-spacing: 0.05rem;
}

li {
  list-style: none;
}

h3 {
  font-size: 3rem;
}

h4 {
  font-size: 2rem;
  font-family: "Cardo", serif;
}

html {
  font-family: "Open Sans", sans-serif;
}

.container {
  margin: 0 auto;
  width: 90%;
}

.top {
  background-color: #011E42;
  padding: 2px 20px;
}

.uoftDiv {
  width: 12%;
}
.uoftDiv img {
  width: 100%;
}

nav {
  display: flex;
  justify-content: space-between;
  padding: 20px 20px;
}

.grantEd {
  font-family: "Cardo", serif;
  color: #011E42;
  padding-top: 5px;
  letter-spacing: 0.05rem;
}
.grantEd span {
  color: #A92B37;
}

.navBar {
  display: flex;
  font-size: 0.8rem;
  align-items: center;
}
.navBar li {
  list-style: none;
  font-weight: 700;
  letter-spacing: 0.1rem;
}

.navMenu {
  color: #011E42;
  padding-right: 25px;
}
.navMenu:hover {
  transition: 500ms;
  color: #A92B37;
}

button {
  border: none;
}

.loginBtn {
  background-color: #A92B37;
  color: #FFF;
  letter-spacing: 0.1rem;
  border: 1px solid #A92B37;
  padding: 9px 18px;
  border-radius: 7px 7px;
  font-weight: 700;
}
.loginBtn:hover, .loginBtn:focus {
  background-color: #FFF;
  color: #A92B37;
  transition: 500ms;
  cursor: pointer;
}

.header {
  width: 100%;
}
.header img {
  width: 100%;
}

.museum, .viewer {
  background-color: #868C96;
  color: #FFF;
  padding: 60px 60px 200px 60px;
  margin: 20px;
  border-radius: 15px 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.museum h3, .viewer h3 {
  width: 40%;
  font-family: "Cardo", serif;
  letter-spacing: 0.25rem;
}
.museum h3 span, .viewer h3 span {
  display: block;
  padding-top: 10px;
}
.museum p, .viewer p {
  width: 56%;
  font-family: "Open Sans", sans-serif;
  font-size: 0.8rem;
}

.grants {
  font-size: 1.6rem;
}

.loginDiv {
  margin: 170px 0;
  display: flex;
  justify-content: center;
}

.loginBox {
  width: 35%;
}
.loginBox p {
  margin: 20px 0;
  color: #6B6B6B;
  font-size: 0.9rem;
}

label {
  font-family: "Cardo", serif;
  font-size: 0.9rem;
}

input {
  font-family: "Open Sans", sans-serif;
  font-size: 0.9rem;
  padding: 14px 13px;
  border: 1px solid lightgrey;
  border-radius: 7px 7px;
  width: 100%;
}

.mainLoginBtn {
  background-color: #A92B37;
  color: #FFF;
  letter-spacing: 0.1rem;
  border: 1px solid #A92B37;
  padding: 12px 18px;
  border-radius: 7px 7px;
  font-size: 0.8rem;
}
.mainLoginBtn:hover, .mainLoginBtn:focus {
  background-color: #FFF;
  color: #A92B37;
  transition: 500ms;
  cursor: pointer;
}

.btn {
  margin-top: 10px;
}

.viewer {
  background-color: #A92B37;
}

footer {
  background-color: #011E42;
  color: #FFF;
  font-family: "Cardo", serif;
  letter-spacing: 0.05rem;
  padding: 50px 0;
  text-align: center;
}

.footerFlex {
  display: flex;
  align-items: center;
  justify-content: center;
  list-style: none;
  margin-bottom: 20px;
}
.footerFlex img {
  max-height: 50px;
}

.footerGrant {
  font-size: 1.6rem;
}/*# sourceMappingURL=styles.css.map */